@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    interpolate-size: allow-keywords;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #2c3e50;
    color: white;
    margin-left: 250px;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1, h2, h3, h4, a {
    font-family: "Montserrat", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.navbar {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    height: 100%;
    width: 20%;
    max-width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1a252f;
    padding-top: 20px;
    border-radius: 25px;
}

.navbar ul {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-right: 0;
}

.navbar img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 100px;
    margin-bottom: 20px;
}

.navbar li {
    margin-bottom: 20px;
}

.navbar li a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    text-align: center;
    transition: 0.5s ease;
}

.navbar li a:hover {
    background-color: #0f2f44;
    border-radius: 10px;
}

.navbar .Repositorio {
    display: block;
    background-color: #FF8C00;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    transition: background-color 1s ease;
    margin-bottom: 20px;
}

.navbar .Repositorio svg {
    height: 20px;
    margin-right: 10px;
}

.navbar .Repositorio:hover {
    background-color: #a35c00;
}

.hero  {
    background-color: #2C2F33;
    display: flex;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px #0f2f44;
    width: 98%;
    height: min(40vh,600px);
}

.hero article {
    display: flex;
    padding: 16px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}

.hero div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    height: 100%;

}

.hero figure {
    width: 15%;
    height: 100%;
}

.hero h1 {
    font-size: 40px;
    margin-top: 70px;
}
 
.hero h1 strong{
     color: #FF8C00;
     font-weight: bold;
}

.hero img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin-left: auto;
    display: block;
}

.hero div .download-cv {
    display: inline-block;
    padding: 12px 25px; 
    background-color: #FF8C00; 
    color: white; 
    text-decoration: none; 
    border-radius: 25px;
    font-size: 1.2em; 
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px; 
    margin-left: 150px;
    margin-right: 100px;
}

.hero div .download-cv:hover {
    background-color: #ffa500;
    transform: translateY(-3px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.slider-box{
    width: 50%;
    height: 10%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 4px 10px #0f2f44;
}

.slider-box ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 0.5s ease-in-out;
}

.slider-box li {
    min-width: 100%;
    position: relative;
}

.slider-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
}

.texto {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.texto a {
    text-decoration: none;
    color: white;
    background-color: #a35c00;
    border-radius: 5px;
}

.Acercademi {
    display: flex;
    background-color: #1a252f; 
    width: min(200vh, 900px); 
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px; 
    border-radius: 8px;
    justify-content: space-between;
    align-items: center; 
}
.Acercademi img {
    height: auto;
    width: 20%; 
    max-width: 300px; 
    border-radius: 10%;
}

.Acercademi .text-content {
    width: 75%;
    color: white;
}

.Proyectos {
    background-color: #2C2F33;
    display: flex;
    width: 98%;
    height: 98%;
    margin: 20px;
    flex-direction: column;
    border-radius: 5px;
}

.Proyectos .Tarjetas {
    flex-direction: row;
    width: 275px;
    height: 146px;
    background-color: #a35c00;
    margin-left: 60px;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s ease;
}

.Proyectos .Tarjetas:hover {
    height: auto;
}

.Proyectos .Tarjetas a img {
    width: 15px;
    height: auto;
}

.Proyectos h3 {
    text-align: center;
}

.Proyectos h4 {
    text-align: center;
    margin: 0;
}
.Proyectos img {
    width: 276px;
    height: 117px;
    border-radius: 8px;
}

.Proyectos p, a{
    text-align: center;
}

.Proyectos a {
    color: white;
    background-color: #ffa500;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.Proyectos a:hover{
    background-color: #FF8C00;
    border-radius: 5px;
}

.Proyectos svg {
    height: auto;
    width: 15px;
}

.Proyectos .Tarjetas-1 {
    display: flex;

    flex-direction: row;
}