body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #2c3e50;
    color: white;
    margin-left: 250px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.navbar {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1a252f;
    padding-top: 20px;
    border-radius: 25px;
}

.navbar ul {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-right: 0;
}

.navbar img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 100px;
    margin-bottom: 20px;
}

.navbar li {
    margin-bottom: 20px;
}

.navbar li a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    text-align: center;
    transition: 0.5s ease;
}

.navbar li a:hover {
    background-color: #0f2f44;
    border-radius: 10px;
}

.navbar .Repositorio {
    display: block;
    background-color: #FF8C00;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    transition: background-color 1s ease;
    margin-bottom: 20px;
}

.navbar .Repositorio svg {
    height: 20px;
    margin-right: 10px;
}

.navbar .Repositorio:hover {
    background-color: #a35c00;
}

.hero  {
    background-color: #2C2F33;
    display: flex;
    align-items: space-between;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px #0f2f44;
}

.hero div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
    margin-top: 70px;
}
 
.hero h1 strong{
     color: #FF8C00;
     font-weight: bold;
}

.hero img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    max-height: 300px;
}

.hero div .download-cv {
    display: inline-block;
    padding: 12px 25px; 
    background-color: #FF8C00; 
    color: white; 
    text-decoration: none; 
    border-radius: 25px;
    font-size: 1.2em; 
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px; 
    margin-left: 150px;
    margin-right: 100px;
}

.hero div .download-cv:hover {
    background-color: #ffa500;
    transform: translateY(-3px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}